body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.map{
    width: 360px;
    height: 180px;
    background-color: blue;
    z-index: 0;
    position: relative;
}
img {
    width: 360px;
    height: 180px;
    z-index: 1;
}
.iss {
    width: 5px;
    height: 5px;
    background-color: red;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
}